{% extends 'base.html' %} {% block content %}
<div class="container d-flex justify-content-center mt-5">
<div class="card" style="width: 25rem">
  <div class="card-body">
    <h5 class="card-title d-flex justify-content-center">Name: {{Author.username}}</h5>
    <p class="card-text d-flex justify-content-center">
      Bio: {{Bio.bio}}
    </p>
  </div>
  <ol class="list-group list-group-flush">
    {% for Blog in Blogs %}
    <li class="list-group-item">Blog: <a href="/blog/{{Blog.id}}">{{Blog.blog_title}}</a><br>Posted On: {{Blog.blog_date}}</li>
    {% endfor %}
  </ol>
</div>
</div>

{% endblock %}
