<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/blog">Teckieium</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {%if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/accounts/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accounts/signup">Signup</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/accounts/logout">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="container d-flex justify-content-center">
        <h1 class="display-4">Latest Blogs</h1>
      </div>
    </div>
    {%for Blog in Blogs%}
    <div class="container-fluid">
      <div class="card text-center m-5">
        <div class="card-header">{{Blog.blog_author}}</div>
        <div class="card-body">
          <h5 class="card-title">{{Blog.blog_title}}</h5>
          <a href="#" class="btn btn-primary">View Full Blog</a>
        </div>
        <div class="card-footer">{{Blog.blog_date}}</div>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
